.cities-jumbotron {
  background-image: url('../static_resources/citiesbackground.png');
  background-size: cover;
  min-height: 300px;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
}

.cities-card {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
