@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');
.footer {
  background-color: #b0e0e6;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Futura', Georgia, Times, serif;
}
